<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar app</title>
    <link rel="stylesheet" href="../../calendar-plugin/_inc/calendar.css" />
</head>

<body>
    <div id="container"> </div>
        <div id="header"> </div>
        <div id="weekdays">
            <div>Lundi</div>
            <div>Mardi</div>
            <div>Mercredi</div>
            <div>Jeudi</div>
            <div>Vendredi</div>
            <div>Samedi</div>
            <div>Dimanche</div>
        </div>
        <div id="calendar"> </div>

    <!-- Import script js  -->
    <script src="../_inc/calendar.js"></script>
</body>
</html>